@tailwind base;
@tailwind components;
@tailwind utilities;

/* Calendar Heatmap Styles */
.react-calendar-heatmap text {
  font-size: 10px;
  fill: #aaa;
}

.react-calendar-heatmap .react-calendar-heatmap-small-text {
  font-size: 5px;
}

.react-calendar-heatmap rect:hover {
  stroke: #555;
  stroke-width: 1px;
}

.react-calendar-heatmap .color-empty {
  fill: #eeeeee;
}

.react-calendar-heatmap .color-scale-1 {
  fill: #9be9a8;
}

.react-calendar-heatmap .color-scale-2 {
  fill: #40c463;
}

.react-calendar-heatmap .color-scale-3 {
  fill: #30a14e;
}

.react-calendar-heatmap .color-scale-4 {
  fill: #216e39;
}
